<h1>Edición de Amigo</h1>
<%= render "form", friend: @friend %>
<br/>
<div>
  <%= link_to "Ver detalle", @friend, class: "btn btn-info"  %>
  <br/>
  <br/>
  <%= link_to "Volver a la Lista de amigos", friends_path, class: "btn btn-success" %>
</div>
